<div id="centro_barra">
	<div id="busca">
		<form action="" method="get" accept-charset="utf-8">
			<div class="searchBox round"> 
				<input class="term" id="q" name="term" size="45" maxlength="2048" type="text" /> 
				<input class="search" type="submit" value="Pesquisar" /> 
				<div class="clear">
				</div>
			</div>
		</form>	
	</div>

	<div id="anunciar">	
		Gostaria de anunciar?
		Clique <%= link_to 'aqui', anunciar_path %>, e rapido e simples
	</div>
</div>

