<div id="centro_barra">
	<div id="busca">
		<%= form_tag('/busca', :method=>"get") do %>
			<div class="searchBox round">
					<%= text_field_tag :term, nil, :class=>"term" %>
					<%= submit_tag 'Pesquisar', :class=>"search" %>
				<div class="clear">
				</div>
			</div>
		<% end %>

	</div>

	<div id="anunciar">	
		Gostaria de anunciar?
		Clique <%= link_to 'aqui', anunciar_path %>, e rapido e simples
	</div>
</div>



