<div id="centro_cabecalho">
	<div id="logo">
		<h1>
			<a href="index.html">
				<img src="images/logo.png" alt="Logo"/>
			</a>
		</h1>	
	</div>
	<div id="nav_bar" class="round">
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="anunciar.html">Anunciar</a></li>
			<li><a href="como_funciona.html" class="borda">Como Funciona</a></li>
			<li><a href="logged_in.html" class="borda">Login</a></li>					
		</ul>				
	</div>

	<div class="clear"></div>
</div>
<div id="barra_horizontal">
	<%= render :partial=>"barrahorizontal" %>
</div>
