<h1>Cadastre-se e receba Notícias</h1><div class="clear"></div>
<form action="" method="post" accept-charset="utf-8">
	<p><label>E-mail:</label>
		<input type="text" class="dados" name="email" value="" /></p>
	<p><label>Area:</label>
	<select name="area" class="dados">
		<option selected="selected">Todas</option>
		<option value="com">Computacao</option>
		<option value="mat">Matematica</option>
		<option value="com">Astrofisica</option>
		<option value="mat">Mecatronica</option>
	</select></p>
	<p><input type="submit" value="Continuar" class="botao" /></p>
</form>
<div id="info">
	Voce receberá noticias sobre as vagas 
	mais recentes e as vagas que possam lhe interessar.
</div>
