<div id="footer" class="round">
	<div id="menu">
		<ul>
			<li><a href="#">Sobre</a></li>
			<li><a href="#">Ajuda</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</div>
	<div id="copyright">
		<span>
			© 2010 - 2011 
		</span>
			<a href="http://www.softsystems-corp.com">SoftSystems Corp</a>
	</div>
</div>
