<div id="conteudo"> 
	<h1 class="vagas_recentes">Vagas cadastradas mais recentemente</h1>
	<!-- VAGAS -->
	<!-- ************************************ -->
	<div class="even vaga">
		<div class="info">
			<p>15 Fev 2011</p>
			<p>Cid.: Luanda</p>
			<p><b>Estagiario</b></p>
		</div>	
		<div class="detalhes">
			<p class="titulo_vaga_index"><a href="vaga.html" class="titulo_vaga_index">
				Depurador Javascript
			</a></p>
			<p class="empresa">Emp.: <a href="" class="empresa">SoftSystem Corp</a></p>
			<p>Em uma escolha inedita p/ fomentar experiencia em Java, 
			   a Comunidade Java Livros toma a frente e exerce as seguintes 
			   competencias como instrumentos chaves para injecao de proficiencia</p>
		</div>
	</div>
	<!-- ************************************ -->
	<div class="odd vaga">
		<div class="info">
			<p>15 Fev 2011</p>
			<p>Cid.: Luanda</p>
			<p><b>Estagiario</b></p>
		</div>	
		<div class="detalhes">
			<p class="titulo_vaga_index"><a href="" class="titulo_vaga_index">
				Depurador Javascript
			</a></p>
			<p class="empresa">Emp.: <a href="" class="empresa">SoftSystem Corp</a></p>
			<p>Em uma escolha inedita p/ fomentar experiencia em Java, 
			   a Comunidade Java Livros toma a frente e exerce as seguintes 
			   competencias como instrumentos chaves para injecao de proficiencia</p>
		</div>
	</div>
	<!-- ************************************ -->
	<div class="even vaga">
		<div class="info">
			<p>15 Fev 2011</p>
			<p>Cid.: Luanda</p>
			<p><b>Estagiario</b></p>
		</div>	
		<div class="detalhes">
			<p class="titulo_vaga_index"><a href="" class="titulo_vaga_index">
				Depurador Javascript
			</a></p>
			<p class="empresa">Emp.: <a href="" class="empresa">SoftSystem Corp</a></p>
			<p>Em uma escolha inedita p/ fomentar experiencia em Java, 
			   a Comunidade Java Livros toma a frente e exerce as seguintes 
			   competencias como instrumentos chaves para injecao de proficiencia</p>
		</div>
	</div>
	<!-- ************************************ -->

	<!-- FIMMMM VAGAS -->
</div>
<div id="lateral">
	<div id="cadastre-se" class="round">
		<h1>Cadastre-se e receba Noticias</h1><div class="clear"></div>
		<form action="" method="post" accept-charset="utf-8">
			<p><label>E-mail:</label>
				<input type="text" class="dados" name="email" value="" /></p>
			<p><label>Area:</label>
			<select name="area" class="dados">
				<option selected="selected">Todas</option>
				<option value="com">Computacao</option>
				<option value="mat">Matematica</option>
				<option value="com">Astrofisica</option>
				<option value="mat">Mecatronica</option>
			</select></p>
			<p><input type="submit" value="Continuar" class="botao" /></p>
		</form>
		<div id="info">
			Voce receberá noticias sobre as vagas 
			mais recentes e as vagas que possam lhe interessar.
		</div>
	</div>
	<div id="estatisticas">
		<h1>Estatisticas</h1>
		    <ul>
		    	<li>6 vagas para <a href="vagas.html">Estagiarios</a></li>
			    <li>2 vagas para <a href="vagas.html">Profissionais</a></li>
			    <li>3 vagas para <a href="vagas.html">Portadores de Deficiencias</a></li>
			    <li>2 vagas para <a href="vagas.html">Todos Perfis</a></li>
			    <li>13 vagas no total, <a href="">Ver todas</a></li>
			</ul>
	</div>
</div>
<div class="clear">
</div>
