<div id="conteudo"> 
	<h1 class="vagas_recentes">Vagas cadastradas mais recentemente</h1>

	<%= render @vagas %>

</div>
<div id="lateral">
	<%= render 'pages/lateral' %>
</div>
<div class="clear">
</div>
