<div id="mais_vagas" class="round">
	<h1>+ Vagas de SoftSystems Corp</h1><div class="clear"></div>
	<%= render :partial=>'mais_vagas', :locals=>{:empresa=>@vaga.empresa} %>
</div>
<div id="relacionadas">
	<h1>Vagas Relacionadas</h1>
	<%= render :partial=>'vagas_relacionadas', :locals=>{:tags=>@vaga.tags} %>
</div>
