<div id="mais_vagas" class="round">
	<h1>+ Vagas de SoftSystems Corp</h1><div class="clear"></div>
	<ul>
		<li><a href="">Programador Java Jr</a></li>
		<li><a href="">Desenvolvedor Ruby on Rails Jr</a></li>
		<li><a href="">Programador JavaScript</a></li>
		<li><a href="">Programador JavaEE</a></li>
		<li><a href="">Programador PHP</a></li>
	</ul>
</div>
<div id="relacionadas">
	<h1>Vagas Relacionadas</h1>
	    <ul>
			<li><a href="">Programador Java Jr</a></li>
			<li><a href="">Desenvolvedor Ruby on Rails Jr</a></li>
			<li><a href="">Programador JavaScript</a></li>
			<li><a href="">Programador JavaEE</a></li>
			<li><a href="">Programador PHP</a></li>			    	
		</ul>
</div>
