<div id="vagas"> 
	<h1 class="vagas_recentes">Todas vagas</h1>
	<p class="paginacao">
		<%= paginate @vagas%>
	</p>

		<%=render @vagas %>

	<p class="paginacao">
		<%= paginate @vagas %>
	</p>
</div>


