<% if current_user %>
	<% if notice %>
		<p class="anunciar"><span class="error"><%= notice %></span> | Preencha os dados e publique a vaga</p>
	<% else %>
		<p class="anunciar">Preencha os dados e publique a vaga</p>
	<% end %>
<% else %>
	<%= render :partial=>'cabecalho', :locals=>{:login_form => "anunciar"}  %>
<% end %>
<div id="formulario">
	<%= render :partial=>'form', :locals=>{:new=>true} %>
</div>

<%= link_to 'Back', vagas_path %>

