<div id="conteudo"> 

	<h1 class="vagas_recentes">Vagas Cadastradas</h1>
	<!-- VAGAS -->
	<% @empresa.vagas.each do |vaga| %>
		<%= render :partial=>'vaga', :locals=>{:vaga=>vaga} %>
	<% end %>
	<!-- FIMMMM VAGAS -->

</div>
<div id="lateral">
	<%= render :partial=>'empresas/lateral' %>
</div>
<div id="clear">
</div>
